
.footer-main-wrapper{
    height: 100px;
    background-color: #000;
    color: #a9a3a3 !important;

}

.footer-content {
    display: inline-flex;
    width: 100%;
    margin-top: 60px;
}

.footer-content > span, .footer-content > p {
    width: 50%;
    height: 100%;
}

.footer-content > p {
    /* padding-top: 70px; */
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.vertical_rule{
    height: 40px;
    width: 3px;
    background-color: #a9a3a3;
    margin-left: 15px;
    margin-top: -10px;
}
.footer-content > span {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}


/* Media Queries*/


/* Media Query section for extra small screen */
@media screen and (max-width: 320px){

    .footer-content {
        display: block;
        width: 100%;
        margin-top: 0px;
    }

    .footer-content > p {
        display: flex;
        justify-content: center;
    }
    
    .vertical_rule{
        display: none;
        height: 40px;
        width: 3px;
        background-color: #a9a3a3;
        margin-left: 15px;
        margin-top: -10px;
    }
    .footer-content > span {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        padding-top: 40px;
    }

    .footer-content > span, .footer-content > p {
        width: 100%;
        height: 100%;
    }
}
/* End of extra small */


/* Smaller screens */
@media screen and (min-width: 321px) and (max-width: 478px) {
}


/* Media Query section for  small screen */
@media screen and (min-width: 479px) and (max-width: 767px) {
}

/* Media Query section for  tablet screen */
@media screen and (min-width: 768px) and (max-width: 991px){
}

/* Section for medium screen */
@media screen and (min-width: 992px) and (max-width: 1200px){
}

/* Desktop screen */
@media (min-width: 1536px){
}
