.navbar, .nav-link, .nav-item, .navbar-brand,.signup,.login {
    color: #FCF8E8 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.navbar:hover, .nav-link:hover, .nav-item:hover, .navbar-brand:hover,
.signup:hover, .login:hover {
    color: #E8AA42 !important;
    cursor: pointer;
    text-decoration: none;
}

.nav-link{
    margin-right: 1.5rem;
}

.collapse {
    margin: 0 5rem;
}

.navbar-nav {
    margin-left: 5rem;
}

/* Auth section */
.auth-wrapper{
    display: inline-flex;
}
.auth-wrapper > :first-child {
    margin-right: 1em;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2px 10px;
}
.auth-wrapper > :last-child {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2px 10px;
}

.signin:hover {
    box-shadow: 1px 1px 1px 1px #D3CEDF;
    transform: scale(1.1);
    transition: transform 1.4s ease-in-out;
}

/* End of Auth section */






/* Section for media queries */

@media screen and (max-width: 991px) {
    .auth-wrapper {
        display: inline-block;
    }
}