#intro-wrapper {
    height: 100vh;
    background: #000;
    /* margin-top: 80px; */
    color: aliceblue;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                    url('../../../assets/home_page/first_page.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Intro section */
.intro-description > h1{
    color: #E8AA42;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.get-started{
    width: 200px;
    border: 1px solid #E8AA42;
    border-radius: 5px;
    background-color: #E8AA42;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 600;
}

.intro {
    width: 50%;
    transform: none !important;
    margin: auto;
    float: right;
}

.intro-description{
    height: 100%;
    width: 100%;
    transform: translate(10px, 40%);
}

.intro-text{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    font-family: sans-serif;

}

.arrow-heartbeat{
    font-weight: 600;
    animation: arrow-hrtbeat 2s linear infinite;
}

.get-started:hover{
    color: #fff;
    transform: scale(4.3);
    box-shadow: 2px 2px 2px 2px #D3CEDF;
    transition: transform 3s linear;
}

@keyframes arrow-hrtbeat {
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}
/* End of intro section */

/* Calendar section */

.calendar-section{
    height: 500px;
    background-color: #fff;
    margin-bottom: 20em;
}

.calendar-image{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 3em;
    /* box-shadow: 10px 10px 10px 10px #D3CEDF; */
    box-shadow: 0 0 10px 10px #EEEEEE;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    background-color: blanchedalmond;
    background-image: url('../../../assets/home_page/section2.jpeg');
    height: 80%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 5px;

    
}
/* End of calendar section */

/* Benefits Section */

.benefits-main-wrapper,.content{
    display: flex;
    justify-content: center;
    /* margin-left: 8rem; */
}

.benefits-hr{
    width: 150px;
    height: 1px;
    margin-top: 25px;
}

.benefits-icons{
    border: 1px solid #E8AA42;
    border-radius: 100%;
    padding: 10px;

}

.benefits-content{
    width: 150px;
    font-size: 13px;
    margin-top: 15px;
    font-family: inherit;
    font-weight: 300;
}

.content > span:nth-child(-n+3){
    padding-left: 4rem;
}
/* End of benefits sectgion */


/* Offers Section */
.offers-wrapper{
    /* background-color: #F0D290; */
    /* margin-top: 15rem; */
    height: 80vh;
    color: #000;
}

.offer-header-wrapper{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.offer-header-wrapper > div {
    width: 250px;
    height: 1.5px;
    background-color: #E8AA42;
    text-align: center;
}
/* End of offers section */



/* Media Query section for small screen */

@media screen and (max-width: 411px) {
    #intro-wrapper {
        height: 60vh;
        background: #000;
        /* margin-top: 80px; */
        color: aliceblue;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                        url('../../../assets/home_page/first_page.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .mobile-view {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .intro-text{
        display: flex;
        width: 270px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        font-family: sans-serif;
    
    }

    .intro-description{
        width: 80%;
        transform: translate(10px, 30%);

    }

/* Calendar section */
    .calendar-image{
        width: 100%;
        display: flex;
        margin: auto;
        box-shadow: 0 0 10px 10px #EEEEEE;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        background-color: blanchedalmond;
        background-image: url('../../../assets/home_page/section2.jpeg');
        height: 50%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        border-radius: 5px;
    
        
    }
    /* End of Calendar section */
/* Benefits Section */

.benefits-main-wrapper, .content{
    display: flex;
    justify-content: center;
}

.benefits-hr{
    width: 70px;
    height: 1px;
    margin-top: 25px;
}

.benefits-icons{
    border: 1px solid #E8AA42;
    border-radius: 100%;
    padding: 6px;

}

.benefits-content{
    width: 90px;
    font-size: 13px;
    margin-top: 15px;
    font-family: inherit;
    font-weight: 300;
}

.content > span:nth-child(-n+3){
    padding-left: 1rem;
}
/* End of benefits sectgion */
}


/* Media Query section for medium screen */

@media screen and (min-width: 412px) and (max-width: 991px) {
    #intro-wrapper {
        height: 70vh;
        background: #000;
        /* margin-top: 80px; */
        color: aliceblue;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                        url('../../../assets/home_page/first_page.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .mobile-view {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .intro-text{
        display: flex;
        width: 270px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        font-family: sans-serif;
    
    }

    .intro-description{
        width: 80%;
        transform: translate(10px, 30%);

    }

/* Calendar section */
    .calendar-image{
        width: 100%;
        display: flex;
        margin: auto;
        box-shadow: 0 0 10px 10px #EEEEEE;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        background-color: blanchedalmond;
        background-image: url('../../../assets/home_page/section2.jpeg');
        height: 80%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        border-radius: 5px;
    
        
    }
    /* End of Calendar section */
/* Benefits Section */

.benefits-main-wrapper, .content{
    display: flex;
    justify-content: center;
}

.benefits-hr{
    width: 70px;
    height: 1px;
    margin-top: 25px;
}

.benefits-icons{
    border: 1px solid #E8AA42;
    border-radius: 100%;
    padding: 6px;

}

.benefits-content{
    width: 90px;
    font-size: 13px;
    margin-top: 15px;
    font-family: inherit;
    font-weight: 300;
}

.content > span:nth-child(-n+3){
    padding-left: 1rem;
}
/* End of benefits sectgion */
}